
  <nav>
      <ul>
        <li><a href="/api/users/me">ME</a></li>
        <li><a href="/api/loads/">LOADS</a></li>
        <li><a href="/api/loads/active">ACTIVE LOADS</a></li>
        <li><a href="/api/trucks">TRUCKS</a></li>
      </ul>
  </nav>

  <div class="nav-btns btns">
    <a href="/api/users/me" class="button back">HOME</a>
    <a href="/api/auth/logout" class="button logout">LOGOUT</a>
  </div>
</div>