<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>
</div>
<div class="btns index-btns">
    <a href="http://127.0.0.1:8080/api/auth/register" class="button">REGISTRATION</a>
    <a href="http://127.0.0.1:8080/api/auth/login" class="button">LOGIN</a>
</div>
<%- include('./partials/footer.ejs') %>
