<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>
</div>
<div class="container">
    <form method="PATCH" action="#" class="login-form">
        <label for="title">CHANGE YOUR PASSWORD</label>
        <input type="old-password" name="oldPassword" placeholder="old password" required>
        <input type="new-password" name="newPassword" placeholder="new password" required>
        <button id="changePass" type="submit" class="button">CHANGE</button>
    </form>
    <div class="pass">
        <p class="text-pass">Forgot your password?</p>
        <a href="http://127.0.0.1:8080/api/auth/forgot_password" class="button">I forgot password</a>
    </div>
</div>
<%- include('./partials/footer.ejs') %>
<script>

// Update user's load by id (available only for shipper role)
const form = document.querySelector('form');
const changePassBtn = document.getElementById('changePass');
changePassBtn.addEventListener('click', (e) => {
    e.preventDefault();

    const oldPassword = form.oldPassword.value;
    const newPassword = form.newPassword.value;
    const endpoint = `/api/users/me/password`;

    fetch(endpoint, {
        method: 'PATCH',
        body: JSON.stringify({ oldPassword, newPassword }),
        headers: {'Content-Type': 'application/json'}
    })
        .then(response => response.json())
        .then(data => window.location.href = data.redirect)
        .catch(err => console.log(err));
    });

</script>
